<div class="container mx-auto">
  <app-navbar></app-navbar>
  <div *ngFor="let section of sections" class="mb-8">
    <h2 class="text-xl font-bold mb-4">{{ section.title }}</h2>
    <p-carousel
      [value]="section.movies"
      [numVisible]="4"
      [numScroll]="1"
      [circular]="true"
    >
      <ng-template let-movie pTemplate="item">
        <div
          class="shadow-lg hover:shadow-xl transition-shadow duration-300 cursor-pointer"
          (click)="showMovieInfo(movie)"
        >
          <img
            src="https://via.placeholder.com/150"
            alt="{{ movie.title }} Poster"
            class="w-full h-48 object-cover"
          />
          <div class="text-center p-4">
            <h3 class="font-semibold text-lg">{{ movie.title }}</h3>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <p-dialog
    header="Movie Info"
    [(visible)]="displayMovieDialog"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false" 
    [resizable]="false"
    (onHide)="onDialogHide()"
  >
    <app-movie-info [movie]="selectedMovie"></app-movie-info>
  </p-dialog>
</div>
