<p-menubar [model]="items" class="bg-gray-800 text-white z-40 sticky top-0">
  <ng-template pTemplate="start">
    <div class="logo text-2xl font-bold">
      <a (click)="showAllMovies()" [routerLink]="['/']">
        <!-- Small img -->
        <img src="assets/icon-no-bg.png" alt="logo" class="w-12 h-12" />
      </a>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex items-center space-x-4">
      <!-- Search bar -->
      <div class="search-bar">
        <input
          type="text"
          pInputText
          placeholder="Search movies"
          class="border-0 rounded-l-md"
          [(ngModel)]="searchQuery"
          (keydown.enter)="onSearch()"
        />
        <button
          type="button"
          pButton
          icon="pi pi-search"
          class="p-button-warning border-0 rounded-r-md bg-orange-500 text-white"
          (click)="onSearch()"
        ></button>
      </div>

      <!-- Profile menu -->
      <button
        *ngIf="isLoggedIn"
        pButton
        type="button"
        class="p-button-rounded p-button-text cursor-pointer"
        (click)="profileMenu.toggle($event)"
      >
        <img
          *ngIf="isLoggedIn; else defaultProfile"
          [src]="profileImageUrl"
          alt="Google Profile"
          class="w-10 h-10 rounded-full"
        />
        <ng-template #defaultProfile>
          <i class="pi pi-user text-2xl"></i>
        </ng-template>
      </button>
      <p-menu
        *ngIf="isLoggedIn"
        #profileMenu
        [model]="profileItems"
        popup
        class="z-50"
      ></p-menu>
    </div>
  </ng-template>
</p-menubar>
