<app-navbar class="bg-white-800 text-white shadow-md sticky top-0 z-40"></app-navbar>
<div class="flex flex-col items-center justify-center h-screen">
  <!-- Logo Section -->
  <img class="mb-4 max-w-md w-auto h-auto mx-auto" src="assets/logo-no-bg.png" alt="Indievault logo">
  
  <!-- Product Description and Value Proposition Section -->
  <div class="text-center px-4 mb-4">
    <h1 class="text-3xl font-bold mb-2">Empowering Independent Filmmakers</h1>
    <p class="text-lg text-gray-600">
      Showcase your films, reach a global audience, and enjoy fair revenue sharing on a platform dedicated to independent creators.
    </p>
  </div>
  
  <!-- Login Button -->
  <!-- <p-button class="mt-3" label="Sign up with Google" (onClick)="login()"/> -->

 
</div>
<app-about></app-about>
<app-contact-us></app-contact-us>