<div>
  <div class="mb-4">
    <label for="name" class="block text-sm font-medium text-gray-700"
      >Name</label
    >
    <input id="name" type="text" pInputText class="mt-1 block w-full" />
  </div>
  <div class="mb-4">
    <label for="category" class="block text-sm font-medium text-gray-700"
      >Category</label
    >
    <input id="category" type="text" pInputText class="mt-1 block w-full" />
  </div>
  <div class="mb-4">
    <label for="tags" class="block text-sm font-medium text-gray-700"
      >Tags</label
    >
    <input id="tags" type="text" pInputText class="mt-1 block w-full" />
  </div>
  <div class="flex justify-end">
    <button pButton type="button" label="Upload" icon="pi pi-check"></button>
  </div>
</div>
